html{
    width: 100%;
    height: 100%;
}

body{
    width: 95%;
    height: 80%;
    background-image: url("../img/pink1.jpg");
    background-size: cover;
}

#container_table_img{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}
#container_btn_answer{
    width: 32%;
    border: 10px groove gold;
    box-shadow: 10px 10px 20px 20px   white;
    padding-top: 2%;
    background-image: url("../img/coeur.png");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    color: #092f80;
   border-radius: 30%;

}

.btn,a{
    padding: 2%;
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 50px;
    font-weight: bold;
    background-color:darkgoldenrod;
    color:  white;
    text-decoration: none;

}
.btn{
    border: 1px groove orange;
}

.btn:hover, a:hover{
    background-color:orange;
    color:  mediumspringgreen;
}
.btn:active, a:active{
    background-color: green;
    box-shadow: 0 5px white;
}

#img_guess > div{
    font-size: large;
    font-weight: bold;
    color:  white;
    background-color:darkgoldenrod;
    padding: 2%;
    margin: 2%;
    border-radius: 20%;

}

#card_board td{
    width: 100px;
    height: 110px;
    border: 2px solid #5bc0de;
}

#img_guess span{
    width: 300px;
    color: #5bc0de;
    text-align: center;
}
#div_answer{
   /* margin-left: 10%;*/
    text-align: center;
}
#div_btns{
    margin: auto;
    text-align: center;
}
#card_board{
    margin-left: 10%;
}

#div_reset{

    text-align: center;
    margin-top: 10px;
    background: transparent;
}
