.image_container {
   position: relative;
}

.hidden_image, .container ,.hiding_wall{
  width: 400px;
    height: 400px;
}

.hidden_image img, .hiding_wall table{
   width: inherit;
    height: inherit;
}

.hidden_image, .hiding_wall {
    position:absolute;
}

.hiding_wall tr, .hiding_wall td{
  height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
}
.hidden_block{
    background-image: url("../img/hide.jpg");
  background-position: center;
    background-repeat: no-repeat;
}

.show_block{
    background: none;
}
