html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 80%;
    background-image: url("../img/wp.jpg");
    background-size: cover;
}

#container_table_img{
    width: 70%;
   display: flex;
   justify-content: space-around;

}


#container_btn_answer{
    width: 98%;
    margin-bottom: 5%;
    background-image: url("../img/yellow.jpg");
    border: 10px solid gray;
    display: flex;
    justify-content: space-around;
     padding-top: 2%;
    font-weight: bold;
    color: #092f80;
    border-radius: 20%;
   padding-bottom: 4px;
}

.btn{
    border-radius: 50px;
    color: steelblue;
    font-weight: bold;
    background-color:#f8dc3a;
}
.btn:hover{
    background-color:gray;
    color:  #f4c235;
}
.btn:active{
    background-color: red;
    box-shadow: 0 5px #666;
}

#div_reset{
    /*padding: 5px;*/
}
#img_guess > div{
    font-size: large;
    color: steelblue;

}

#card_board td{
    width: 100px;
    height: 110px;
    border: 2px solid blue;
}
#card_board {
    border: 2px solid #1b6d85;
}

#img_guess span{
    width: 300px;
    color: white;
    text-align: center;
}
