body{
    background: url("../img/max.jpg") center center no-repeat;
    background-size: cover;
}

#container_table_img{
    display: flex;
    justify-content: space-around;
}

#container_btn_answer{
    margin-bottom: 50px;
    background: #f4c235;
    border: 10px solid gray;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: "Segoe UI Semibold", "Arial";
    font-weight: bold;
    color: #092f80;
}

.btn{
    border-radius: 50px;
    color: #092f80;
    background-color:#f8dc3a;
}

#div_reset{
    padding: 10px;
}
#img_guess{
    font-size: large;

}

#card_board td{
    width: 100px;
    height: 110px;
    border: 2px solid blue;
}
#card_board {
    border: 2px solid #1b6d85;
}

#img_guess span{
    width: 300px;
    display: block;
}